openapi: "3.0.1"
info:
  title: "ws_allparts_info_for_ce_app"
  description: "This web service provides operations on these Virtual DataPort views:\n\
    * \"dx_ce\".\"iv_allparts_info_for_ce\""
  version: "1.0.0"
externalDocs:
  description: "Additional information about Denodo REST Web Services"
  url: "https://community.denodo.com/docs/html/browse/9/vdp/administration/restful_architecture/restful_web_service/restful_web_service"
servers:
- url: "https://dataplatform.advantech.com.tw:9443/server/dx_ce/ws_allparts_info_for_ce_app"
security:
- Basic: []
tags:
- name: "iv_allparts_info_for_ce"
  description: "Operations available for view iv_allparts_info_for_ce"
paths:
  /views/iv_allparts_info_for_ce:
    get:
      tags:
      - "iv_allparts_info_for_ce"
      description: "Returns values of view iv_allparts_info_for_ce"
      operationId: "queryView_iv_allparts_info_for_ce"
      parameters:
      - name: "PrjCode"
        in: "query"
        description: "專案代碼，記錄相關的專案標識碼。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "專案代碼，記錄相關的專案標識碼。 (Virtual DataPort type: text)"
      - name: "ESTIMATE_GREEN_STATUS"
        in: "query"
        description: "估算綠色狀態，表示產品的環保合規狀況。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "估算綠色狀態，表示產品的環保合規狀況。 (Virtual DataPort type: text)"
      - name: "Model_Name"
        in: "query"
        description: "產品或部件的型號名稱。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品或部件的型號名稱。 (Virtual DataPort type: text)"
      - name: "LifeCycle_Phase"
        in: "query"
        description: "元件當前生命週期階段。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "元件當前生命週期階段。 (Virtual DataPort type: text)"
      - name: "Item_Number"
        in: "query"
        description: "物料或零件的唯一識別碼，用於在系統中追踪和管理零件。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "物料或零件的唯一識別碼，用於在系統中追踪和管理零件。 (Virtual DataPort type: text)"
      - name: "Item_Desc"
        in: "query"
        description: "項目的詳細描述，提供更多文本資訊。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "項目的詳細描述，提供更多文本資訊。 (Virtual DataPort type: text)"
      - name: "CO_MATNR_CAT"
        in: "query"
        description: "零組件的材料分類 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "零組件的材料分類 (Virtual DataPort type: text)"
      - name: "ZZMCATG_M"
        in: "query"
        description: "零件資訊的分類層級 3，用於零件分類的分組。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "零件資訊的分類層級 3，用於零件分類的分組。 (Virtual DataPort type: text)"
      - name: "ZZMCATG_S"
        in: "query"
        description: "零件資訊的分類層級 4，細化零件的分類。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "零件資訊的分類層級 4，細化零件的分類。 (Virtual DataPort type: text)"
      - name: "CATEGERY1"
        in: "query"
        description: "零件的主要分類代碼，標識第一層分類。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "零件的主要分類代碼，標識第一層分類。 (Virtual DataPort type: text)"
      - name: "CATEGERY2"
        in: "query"
        description: "零件的次級分類代碼，標識第二層分類。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "零件的次級分類代碼，標識第二層分類。 (Virtual DataPort type: text)"
      - name: "CATEGERY0"
        in: "query"
        description: "產品的第一層功能或用途分類。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品的第一層功能或用途分類。 (Virtual DataPort type: text)"
      - name: "CATEGERY0_2"
        in: "query"
        description: "產品的附加分類，用於補充主要功能分類。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品的附加分類，用於補充主要功能分類。 (Virtual DataPort type: text)"
      - name: "CATEGERY_GP"
        in: "query"
        description: "零件的群組分類代碼，用於標識分類群組。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "零件的群組分類代碼，用於標識分類群組。 (Virtual DataPort type: text)"
      - name: "CATEGORP_SC"
        in: "query"
        description: "零件的子類別代碼，用於指定子類型。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "零件的子類別代碼，用於指定子類型。 (Virtual DataPort type: text)"
      - name: "STRA_LV1"
        in: "query"
        description: "代表策略層級1，用於高階分類或管理用途。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "代表策略層級1，用於高階分類或管理用途。 (Virtual DataPort type: text)"
      - name: "STRA_LV2"
        in: "query"
        description: "代表策略層級2，用於細分分類或進一步管理。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "代表策略層級2，用於細分分類或進一步管理。 (Virtual DataPort type: text)"
      - name: "CATE_M_NAME"
        in: "query"
        description: "零件分類名稱，提供主要分類的名稱描述。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "零件分類名稱，提供主要分類的名稱描述。 (Virtual DataPort type: text)"
      - name: "CATE_S_NAME"
        in: "query"
        description: "產品的次分類名稱，用於標示更精細的類別層級。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品的次分類名稱，用於標示更精細的類別層級。 (Virtual DataPort type: text)"
      - name: "PART_CATE"
        in: "query"
        description: "物料類別，用於區分物料的分類或組別。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "物料類別，用於區分物料的分類或組別。 (Virtual DataPort type: text)"
      - name: "INACTIVE"
        in: "query"
        description: "狀態標記，用於表示項目是否被停用。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "狀態標記，用於表示項目是否被停用。 (Virtual DataPort type: text)"
      - name: "Pur_Mfg"
        in: "query"
        description: "表示物料的採購或製造狀態。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "表示物料的採購或製造狀態。 (Virtual DataPort type: text)"
      - name: "REV_Rel_Date"
        in: "query"
        description: "記錄物料版本的發布日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "記錄物料版本的發布日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "Effective_Date"
        in: "query"
        description: "生效日期，表示資訊或記錄的正式生效時間。 (Virtual DataPort type: timestamp, format:\
          \ yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "生效日期，表示資訊或記錄的正式生效時間。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "Request_for_Plant"
        in: "query"
        description: "記錄針對特定工廠的需求或請求相關資訊。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "記錄針對特定工廠的需求或請求相關資訊。 (Virtual DataPort type: text)"
      - name: "Create_Date"
        in: "query"
        description: "記錄資料創建的日期和時間。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "記錄資料創建的日期和時間。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "Create_User"
        in: "query"
        description: "記錄資料創建者的使用者名稱。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "記錄資料創建者的使用者名稱。 (Virtual DataPort type: text)"
      - name: "PhaseOut_Date"
        in: "query"
        description: "產品淘汰日期，指產品停止供應的時間。 (Virtual DataPort type: timestamp, format:\
          \ yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "產品淘汰日期，指產品停止供應的時間。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "LTB_Date"
        in: "query"
        description: "元件的最後採購日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "元件的最後採購日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "Inactive_Date"
        in: "query"
        description: "顯示項目被停用的日期時間。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "顯示項目被停用的日期時間。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "UOM"
        in: "query"
        description: "指定物料的單位，例如公斤、件等。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "指定物料的單位，例如公斤、件等。 (Virtual DataPort type: text)"
      - name: "Product_Owner"
        in: "query"
        description: "產品負責人，表明負責該產品的管理者或PM。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品負責人，表明負責該產品的管理者或PM。 (Virtual DataPort type: text)"
      - name: "Part_Cat"
        in: "query"
        description: "零件分類，記錄零件的類別或類型。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "零件分類，記錄零件的類別或類型。 (Virtual DataPort type: text)"
      - name: "PVT_Date"
        in: "query"
        description: "產品核准測試（PVT）日期，標示產品的測試完成時間。 (Virtual DataPort type: timestamp,\
          \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "產品核准測試（PVT）日期，標示產品的測試完成時間。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "MP_Date"
        in: "query"
        description: "產品量產或狀態變更的指定日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "產品量產或狀態變更的指定日期。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "Product_HTS_Category"
        in: "query"
        description: "產品海關稅則編碼類別，用於表示產品的HTS分類。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品海關稅則編碼類別，用於表示產品的HTS分類。 (Virtual DataPort type: text)"
      - name: "GROSS_WEIGHT"
        in: "query"
        description: "毛重（公斤），表示產品的總重量（包含包裝）。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "毛重（公斤），表示產品的總重量（包含包裝）。 (Virtual DataPort type: text)"
      - name: "NET_WEIGHT"
        in: "query"
        description: "產品包裝後的淨重（以公斤為單位）。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品包裝後的淨重（以公斤為單位）。 (Virtual DataPort type: text)"
      - name: "OEM_ODM_Type"
        in: "query"
        description: "指明產品是 OEM 或 ODM 類型。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "指明產品是 OEM 或 ODM 類型。 (Virtual DataPort type: text)"
      - name: "Outsourcing_Type"
        in: "query"
        description: "外包類型，用於標示物料的外包屬性或類型。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "外包類型，用於標示物料的外包屬性或類型。 (Virtual DataPort type: text)"
      - name: "BOX_DIMENSION"
        in: "query"
        description: "包裝尺寸，記錄單件產品的尺寸（例如：長寬高）。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "包裝尺寸，記錄單件產品的尺寸（例如：長寬高）。 (Virtual DataPort type: text)"
      - name: "Material_Pricing_Grp"
        in: "query"
        description: "用於分類物料計價的組別名稱。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "用於分類物料計價的組別名稱。 (Virtual DataPort type: text)"
      - name: "Brand"
        in: "query"
        description: "產品所屬的品牌名稱。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品所屬的品牌名稱。 (Virtual DataPort type: text)"
      - name: "Customer_Brand_Name"
        in: "query"
        description: "產品上顯示的客戶品牌名稱。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品上顯示的客戶品牌名稱。 (Virtual DataPort type: text)"
      - name: "MATERIAL_CATEGORY"
        in: "query"
        description: "物料的分類類型。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "物料的分類類型。 (Virtual DataPort type: text)"
      - name: "field_0"
        in: "query"
        description: "暫用欄位，可能用於存放附加或測試性資料。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "暫用欄位，可能用於存放附加或測試性資料。 (Virtual DataPort type: text)"
      - name: "field_1"
        in: "query"
        description: "與CE相關的分類1標識或建議項目。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "與CE相關的分類1標識或建議項目。 (Virtual DataPort type: text)"
      - name: "field_2"
        in: "query"
        description: "與CE相關的分類2信息或指派類別。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "與CE相關的分類2信息或指派類別。 (Virtual DataPort type: text)"
      - name: "field_3"
        in: "query"
        description: "與CE相關的分類3標識或描述。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "與CE相關的分類3標識或描述。 (Virtual DataPort type: text)"
      - name: "BSMI_NOTE"
        in: "query"
        description: "BSMI附註，記錄有關BSMI認證的相關備註資訊。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "BSMI附註，記錄有關BSMI認證的相關備註資訊。 (Virtual DataPort type: text)"
      - name: "BSMI_Certification"
        in: "query"
        description: "BSMI認證狀態，確認產品是否取得BSMI認證。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "BSMI認證狀態，確認產品是否取得BSMI認證。 (Virtual DataPort type: text)"
      - name: "BSMI_Certification_No"
        in: "query"
        description: "BSMI證書號碼，記錄產品的BSMI認證編號。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "BSMI證書號碼，記錄產品的BSMI認證編號。 (Virtual DataPort type: text)"
      - name: "BSMI_STATUS_CODE"
        in: "query"
        description: "BSMI 認證狀態碼，用於表示產品的認證狀態。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "BSMI 認證狀態碼，用於表示產品的認證狀態。 (Virtual DataPort type: text)"
      - name: "BSMI_certification_Date_Expired"
        in: "query"
        description: "BSMI 認證到期日期，用於顯示證書的有效期限。 (Virtual DataPort type: timestamp,\
          \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "BSMI 認證到期日期，用於顯示證書的有效期限。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "KCC_Certification"
        in: "query"
        description: "表示零件或產品是否獲得韓國KCC認證。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "表示零件或產品是否獲得韓國KCC認證。 (Virtual DataPort type: text)"
      - name: "KCC_Certification_No"
        in: "query"
        description: "韓國KCC認證的證書編號，唯一標識該認證文件。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "韓國KCC認證的證書編號，唯一標識該認證文件。 (Virtual DataPort type: text)"
      - name: "KC_Equipment_Name"
        in: "query"
        description: "取得KC認證的設備名稱，用於標記認證範圍。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "取得KC認證的設備名稱，用於標記認證範圍。 (Virtual DataPort type: text)"
      - name: "IATA_LAW"
        in: "query"
        description: "國際航空運輸協會（IATA）相關合規法規信息。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "國際航空運輸協會（IATA）相關合規法規信息。 (Virtual DataPort type: text)"
      - name: "Key_Component"
        in: "query"
        description: "品質測試用的關鍵零件信息，用於 QA 實驗室。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "品質測試用的關鍵零件信息，用於 QA 實驗室。 (Virtual DataPort type: text)"
      - name: "First_Warranty_Months"
        in: "query"
        description: "初始保固月數，表示產品的首段保固期長度（月）。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "初始保固月數，表示產品的首段保固期長度（月）。 (Virtual DataPort type: text)"
      - name: "Process_Type"
        in: "query"
        description: "加工類型，標識零件的處理或製造方式。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "加工類型，標識零件的處理或製造方式。 (Virtual DataPort type: text)"
      - name: "QC_Control"
        in: "query"
        description: "標識是否需要進行質量控制的狀態。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "標識是否需要進行質量控制的狀態。 (Virtual DataPort type: text)"
      - name: "Product_Line"
        in: "query"
        description: "產品線，表示產品所屬的業務分組或系列。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品線，表示產品所屬的業務分組或系列。 (Virtual DataPort type: text)"
      - name: "REV_Number"
        in: "query"
        description: "記錄物料目前的版本編號。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "記錄物料目前的版本編號。 (Virtual DataPort type: text)"
      - name: "EAIPG"
        in: "query"
        description: "電子應用組別或相關分類的參數描述。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "電子應用組別或相關分類的參數描述。 (Virtual DataPort type: text)"
      - name: "EAIPD"
        in: "query"
        description: "電子應用或內部標識的參數描述。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "電子應用或內部標識的參數描述。 (Virtual DataPort type: text)"
      - name: "CO_NET_WEIGHT_mg"
        in: "query"
        description: "零組件的淨重量（毫克） (Virtual DataPort type: decimal)"
        required: false
        schema:
          type: "number"
          description: "零組件的淨重量（毫克） (Virtual DataPort type: decimal)"
      - name: "CO_PROCESS_TYPE"
        in: "query"
        description: "組件的處理類型，表示組件在製造或加工過程中的特定類型。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "組件的處理類型，表示組件在製造或加工過程中的特定類型。 (Virtual DataPort type: text)"
      - name: "CO_MSL_CTRL"
        in: "query"
        description: "零組件的濕度敏感等級控制 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "零組件的濕度敏感等級控制 (Virtual DataPort type: text)"
      - name: "CO_DATASHEET_VER"
        in: "query"
        description: "元件資料表的版本號，用於標示資料表的版本資訊。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "元件資料表的版本號，用於標示資料表的版本資訊。 (Virtual DataPort type: text)"
      - name: "CO_DATASHEET_UL_DATUM"
        in: "query"
        description: "元件資料表最後更新日期，用於追蹤資料表的變更時間。 (Virtual DataPort type: timestamp,\
          \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "元件資料表最後更新日期，用於追蹤資料表的變更時間。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "CO_ESTIMATED_EOL_DATUM"
        in: "query"
        description: "元件的預估壽命終止日期，用於規劃產品的使用週期。 (Virtual DataPort type: timestamp,\
          \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "元件的預估壽命終止日期，用於規劃產品的使用週期。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "CO_APPROVE_DATUM"
        in: "query"
        description: "元件最後批准日期，用於記錄元件審核的完成時間。 (Virtual DataPort type: timestamp, format:\
          \ yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "元件最後批准日期，用於記錄元件審核的完成時間。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "CO_PACKAGING_POLARITY"
        in: "query"
        description: "組件包裝極性，表示包裝的方向或極性屬性。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "組件包裝極性，表示包裝的方向或極性屬性。 (Virtual DataPort type: text)"
      - name: "CO_SAFETY_RELATED_COMPONENT_TY"
        in: "query"
        description: "組件的安全相關類型，表示是否涉及安全規範要求。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "組件的安全相關類型，表示是否涉及安全規範要求。 (Virtual DataPort type: text)"
      - name: "OTH_ORIGINAL_MATNR"
        in: "query"
        description: "其他原始物料編號，用於標註物料的原始識別碼。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "其他原始物料編號，用於標註物料的原始識別碼。 (Virtual DataPort type: text)"
      - name: "OTH_Y2Y5T_MAPPING_PART"
        in: "query"
        description: "Y2/Y5T對應物料，用於標示僅適用於Y2或Y5T分類的物料。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "Y2/Y5T對應物料，用於標示僅適用於Y2或Y5T分類的物料。 (Virtual DataPort type: text)"
      - name: "OTH_REPLACED_BY"
        in: "query"
        description: "替代物料編號，用於標示被其他物料取代的編號。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "替代物料編號，用於標示被其他物料取代的編號。 (Virtual DataPort type: text)"
      - name: "OTH_INACTIVE_HIDE"
        in: "query"
        description: "非活躍物品的隱藏標記，控制物品的展示狀態 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "非活躍物品的隱藏標記，控制物品的展示狀態 (Virtual DataPort type: text)"
      - name: "OTH_COMMENT"
        in: "query"
        description: "欄位備註或額外說明，用於補充描述 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "欄位備註或額外說明，用於補充描述 (Virtual DataPort type: text)"
      - name: "MATNR_Grade"
        in: "query"
        description: "物料的等級分類。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "物料的等級分類。 (Virtual DataPort type: text)"
      - name: "REV_CHANGE"
        in: "query"
        description: "記錄物料版本更改代碼或號碼。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "記錄物料版本更改代碼或號碼。 (Virtual DataPort type: text)"
      - name: "Product_Owner_email"
        in: "query"
        description: "產品負責人的電子郵件，用於聯絡相關負責人。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品負責人的電子郵件，用於聯絡相關負責人。 (Virtual DataPort type: text)"
      - name: "URL_Attachments"
        in: "query"
        description: "附件的 URL，指向外部相關文件或資源。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "附件的 URL，指向外部相關文件或資源。 (Virtual DataPort type: text)"
      - name: "PRODUCT_ATTRIBUTES"
        in: "query"
        description: "產品屬性資訊，描述產品的相關特徵。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "產品屬性資訊，描述產品的相關特徵。 (Virtual DataPort type: text)"
      - name: "CO_MAINSTREAM"
        in: "query"
        description: "是否為主流零組件 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "是否為主流零組件 (Virtual DataPort type: text)"
      - name: "GROUP_PG"
        in: "query"
        description: "分組代號，表示產品的分組類別或群組代號。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "分組代號，表示產品的分組類別或群組代號。 (Virtual DataPort type: text)"
      - name: "OTH_GTINC13"
        in: "query"
        description: "商品的GTIN-13碼，用於唯一商品編號識別 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "商品的GTIN-13碼，用於唯一商品編號識別 (Virtual DataPort type: text)"
      - name: "OTH_GPC"
        in: "query"
        description: "全球商品分類，用於物品的標準化分類 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "全球商品分類，用於物品的標準化分類 (Virtual DataPort type: text)"
      - name: "OTH_BASIC_UDI"
        in: "query"
        description: "基本UDI碼，用於醫療類物品的唯一識別 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "基本UDI碼，用於醫療類物品的唯一識別 (Virtual DataPort type: text)"
      - name: "SAP_MATERIAL_TYPE"
        in: "query"
        description: "指定物料在 SAP 系統中的類型，用於分類和管理物料。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "指定物料在 SAP 系統中的類型，用於分類和管理物料。 (Virtual DataPort type: text)"
      - name: "LST_SHP_DATUM"
        in: "query"
        description: "元件的最後出貨日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "元件的最後出貨日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "CO_RoHS"
        in: "query"
        description: "組件是否符合 RoHS（減少有害物質）規範。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "組件是否符合 RoHS（減少有害物質）規範。 (Virtual DataPort type: text)"
      - name: "CO_LOW_HALOGEN"
        in: "query"
        description: "是否符合低鹵素規範之零組件 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "是否符合低鹵素規範之零組件 (Virtual DataPort type: text)"
      - name: "APPROVE_DATUM"
        in: "query"
        description: "核准日期，表示此數據的核准時間記錄。 (Virtual DataPort type: timestamp, format:\
          \ yyyy-MM-ddTHH:mm:ss.SSS)"
        required: false
        schema:
          type: "string"
          description: "核准日期，表示此數據的核准時間記錄。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
      - name: "CO_SURVEY_STATUS"
        in: "query"
        description: "組件的檢測或調查狀態，用於追蹤調查進度。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "組件的檢測或調查狀態，用於追蹤調查進度。 (Virtual DataPort type: text)"
      - name: "ID"
        in: "query"
        description: "唯一識別此資料表中每筆記錄的主鍵。 (Virtual DataPort type: long)"
        required: false
        schema:
          type: "integer"
          description: "唯一識別此資料表中每筆記錄的主鍵。 (Virtual DataPort type: long)"
          format: "int64"
      - name: "expirationDate"
        in: "query"
        description: "紀錄零件或相關資源的到期時間戳記。 (Virtual DataPort type: long)"
        required: false
        schema:
          type: "integer"
          description: "紀錄零件或相關資源的到期時間戳記。 (Virtual DataPort type: long)"
          format: "int64"
      - name: "rowStatus"
        in: "query"
        description: "資料列的狀態指示，例如啟用或停用。 (Virtual DataPort type: text)"
        required: false
        schema:
          type: "string"
          description: "資料列的狀態指示，例如啟用或停用。 (Virtual DataPort type: text)"
      - in: "query"
        $ref: "#/components/parameters/count_parameter"
      - in: "query"
        $ref: "#/components/parameters/display_restful_references_parameter"
      - in: "query"
        $ref: "#/components/parameters/expand_parameter"
      - in: "query"
        $ref: "#/components/parameters/filter_parameter"
      - in: "query"
        $ref: "#/components/parameters/format_parameter"
      - in: "query"
        $ref: "#/components/parameters/group_by_parameter"
      - in: "query"
        $ref: "#/components/parameters/having_parameter"
      - in: "query"
        $ref: "#/components/parameters/jsoncallback_parameter"
      - in: "query"
        $ref: "#/components/parameters/noescape_html_parameter"
      - in: "query"
        $ref: "#/components/parameters/order_by_parameter"
      - in: "query"
        $ref: "#/components/parameters/select_parameter"
      - in: "query"
        $ref: "#/components/parameters/start_index_parameter"
      - in: "header"
        $ref: "#/components/parameters/user_agent_header_parameter"
      responses:
        "200":
          description: "Success"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                $ref: "#/components/schemas/iv_allparts_info_for_ce_response_def"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                $ref: "#/components/schemas/iv_allparts_info_for_ce_response_def"
        "400":
          description: "Bad request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "401":
          description: "Authentication failed"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "403":
          description: "Insufficient permissions to perform this request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "500":
          description: "Runtime error"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
    post:
      tags:
      - "iv_allparts_info_for_ce"
      description: "Inserts a new row on view iv_allparts_info_for_ce"
      operationId: "insertResource_iv_allparts_info_for_ce"
      parameters:
      - $ref: "#/components/parameters/user_agent_header_parameter"
      requestBody:
        description: "New element"
        content:
          application/xml:
            schema:
              $ref: "#/components/schemas/iv_allparts_info_for_ce_element_post_def"
          application/json:
            schema:
              $ref: "#/components/schemas/iv_allparts_info_for_ce_element_post_def"
        required: true
      responses:
        "201":
          description: "Success"
        "400":
          description: "Bad request"
          content:
            application/xml:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "401":
          description: "Authentication failed"
          content:
            application/xml:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "403":
          description: "Insufficient permissions to perform this request"
          content:
            application/xml:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "500":
          description: "Runtime error"
          content:
            application/xml:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
  /views/iv_allparts_info_for_ce/$count:
    get:
      tags:
      - "iv_allparts_info_for_ce"
      description: "Returns the number of rows returned by a query to view iv_allparts_info_for_ce"
      operationId: "count_iv_allparts_info_for_ce"
      parameters:
      - in: "query"
        $ref: "#/components/parameters/filter_parameter"
      - in: "query"
        $ref: "#/components/parameters/format_parameter"
      - in: "query"
        $ref: "#/components/parameters/group_by_parameter"
      - in: "query"
        $ref: "#/components/parameters/having_parameter"
      - in: "query"
        $ref: "#/components/parameters/jsoncallback_parameter"
      - in: "header"
        $ref: "#/components/parameters/user_agent_header_parameter"
      responses:
        "200":
          description: "Success"
          content:
            text/plain;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "integer"
                format: "int64"
        "204":
          description: "No results were returned"
          content:
            text/plain;charset=UTF-8;subtype=denodo-9: {}
        "400":
          description: "Bad request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "401":
          description: "Authentication failed"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "403":
          description: "Insufficient permissions to perform this request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "500":
          description: "Runtime error"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
  /views/iv_allparts_info_for_ce/$metadata:
    get:
      tags:
      - "iv_allparts_info_for_ce"
      description: "Returns the metadata of view iv_allparts_info_for_ce. This includes\
        \ the description of the view and the URLs to retrieve its schema and its\
        \ associations."
      operationId: "metadata_iv_allparts_info_for_ce"
      parameters:
      - in: "query"
        $ref: "#/components/parameters/format_parameter"
      - in: "header"
        $ref: "#/components/parameters/user_agent_header_parameter"
      responses:
        "200":
          description: "Success"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                $ref: "#/components/schemas/iv_allparts_info_for_ce_metadata_def"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                $ref: "#/components/schemas/iv_allparts_info_for_ce_metadata_def"
        "400":
          description: "Bad request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "401":
          description: "Authentication failed"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "403":
          description: "Insufficient permissions to perform this request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "500":
          description: "Runtime error"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
  /views/iv_allparts_info_for_ce/$associations:
    get:
      tags:
      - "iv_allparts_info_for_ce"
      description: "Returns the metadata of the associations related to view iv_allparts_info_for_ce\
        \ that are published with the service"
      operationId: "associations_iv_allparts_info_for_ceiv_allparts_info_for_ce"
      parameters:
      - in: "query"
        $ref: "#/components/parameters/format_parameter"
      - in: "query"
        $ref: "#/components/parameters/user_agent_header_parameter"
      responses:
        "200":
          description: "Success"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                $ref: "#/components/schemas/associations_def"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                $ref: "#/components/schemas/associations_def"
        "400":
          description: "Bad request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "401":
          description: "Authentication failed"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "403":
          description: "Insufficient permissions to perform this request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "500":
          description: "Runtime error"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
  /views/iv_allparts_info_for_ce/$schema:
    get:
      tags:
      - "iv_allparts_info_for_ce"
      description: "Returns the schema of view iv_allparts_info_for_ce. This a list\
        \ of the published fields and types of the view. The names of the fields are\
        \ as they appear in the web service, not in the view (they may have been renamed\
        \ in the web service's configuration)"
      operationId: "schema_iv_allparts_info_for_ce"
      parameters:
      - in: "header"
        $ref: "#/components/parameters/user_agent_header_parameter"
      responses:
        "200":
          description: "Success"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                $ref: "#/components/schemas/iv_allparts_info_for_ce_schema_def"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                $ref: "#/components/schemas/iv_allparts_info_for_ce_schema_def"
        "400":
          description: "Bad request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "401":
          description: "Authentication failed"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "403":
          description: "Insufficient permissions to perform this request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "500":
          description: "Runtime error"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
            application/json;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
  /views/iv_allparts_info_for_ce/$xsd:
    get:
      tags:
      - "iv_allparts_info_for_ce"
      description: "Returns the XSD describing the view iv_allparts_info_for_ce. It\
        \ contains the link to the XSD schema describing the view output."
      operationId: "xsd_iv_allparts_info_for_ce"
      parameters:
      - in: "header"
        $ref: "#/components/parameters/user_agent_header_parameter"
      responses:
        "200":
          description: "Success"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                $ref: "#/components/schemas/iv_allparts_info_for_ce_xsd_def"
        "400":
          description: "Bad request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "401":
          description: "Authentication failed"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "403":
          description: "Insufficient permissions to perform this request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "500":
          description: "Runtime error"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
  /views/iv_allparts_info_for_ce/$xsd-view-def:
    get:
      tags:
      - "iv_allparts_info_for_ce"
      description: "Returns the XSD describing the output of view iv_allparts_info_for_ce.\
        \ It contains the published fields and types of the view. The names of the\
        \ fields are as they appear in the web service, not in the view (they may\
        \ have been renamed in the web service's configuration)"
      operationId: "xsd_view_def_iv_allparts_info_for_ce"
      parameters:
      - in: "header"
        $ref: "#/components/parameters/user_agent_header_parameter"
      responses:
        "200":
          description: "Success"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                $ref: "#/components/schemas/iv_allparts_info_for_ce_xsd_view_def"
        "400":
          description: "Bad request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "401":
          description: "Authentication failed"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "403":
          description: "Insufficient permissions to perform this request"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
        "500":
          description: "Runtime error"
          content:
            application/xml;charset=UTF-8;subtype=denodo-9:
              schema:
                type: "object"
                properties:
                  __errors__:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/errors_def"
                xml:
                  name: "__errors__"
                  namespace: "http://www.denodo.com/restful"
components:
  schemas:
    links_def:
      type: "object"
      properties:
        rel:
          type: "string"
          xml:
            attribute: true
        href:
          type: "string"
          xml:
            attribute: true
        title:
          type: "string"
          xml:
            attribute: true
        type:
          type: "string"
          description: "MIME type of a blob"
          xml:
            attribute: true
      xml:
        name: "link"
        namespace: "http://www.w3.org/2005/Atom"
    associations_def:
      type: "object"
      properties:
        view-name:
          type: "string"
          description: "Virtual DataPort view name"
          xml:
            attribute: true
        association-metadata:
          minItems: 0
          type: "array"
          items:
            type: "object"
            properties:
              name:
                type: "string"
                description: "Association name"
                xml:
                  attribute: true
              referential-constraint:
                type: "boolean"
                description: "Whether this association defines a referential constraint\
                  \ or not"
                xml:
                  attribute: true
              endpoints:
                maxItems: 2
                minItems: 2
                type: "array"
                items:
                  type: "object"
                  properties:
                    view-name:
                      type: "string"
                      description: "Virtual DataPort view name at this end point"
                      xml:
                        attribute: true
                    role-name:
                      type: "string"
                      description: "Role name at this endpoint"
                      xml:
                        attribute: true
                    role-description:
                      type: "string"
                      description: "Role description"
                      xml:
                        attribute: true
                    multiplicity:
                      type: "string"
                      description: "Multiplicity at this end point"
                      xml:
                        attribute: true
                      enum:
                      - "0,1"
                      - "1"
                      - "0,*"
                      - "+"
                    principal:
                      type: "boolean"
                      description: "Whether this end point is principal or dependent"
                      xml:
                        attribute: true
              link:
                $ref: "#/components/schemas/links_def"
        link:
          $ref: "#/components/schemas/links_def"
      xml:
        name: "view-associations"
        namespace: "http://www.denodo.com/restful"
    errors_def:
      type: "object"
      properties:
        code:
          type: "integer"
          format: "int32"
          xml:
            attribute: true
        message:
          type: "string"
          xml:
            attribute: true
        dataSource:
          type: "string"
          xml:
            attribute: true
        httpStatusCode:
          type: "integer"
          xml:
            attribute: true
        httpErrorReturnedBySource:
          type: "string"
          xml:
            attribute: true
      xml:
        name: "error"
    info_def:
      type: "object"
      properties:
        code:
          type: "integer"
          format: "int32"
          xml:
            attribute: true
        message:
          type: "string"
          xml:
            attribute: true
      xml:
        name: "info"
    iv_allparts_info_for_ce_element_def:
      properties:
        PrjCode:
          type: "string"
          description: "專案代碼，記錄相關的專案標識碼。 (Virtual DataPort type: text)"
        ESTIMATE_GREEN_STATUS:
          type: "string"
          description: "估算綠色狀態，表示產品的環保合規狀況。 (Virtual DataPort type: text)"
        Model_Name:
          type: "string"
          description: "產品或部件的型號名稱。 (Virtual DataPort type: text)"
        LifeCycle_Phase:
          type: "string"
          description: "元件當前生命週期階段。 (Virtual DataPort type: text)"
        Item_Number:
          type: "string"
          description: "物料或零件的唯一識別碼，用於在系統中追踪和管理零件。 (Virtual DataPort type: text)"
        Item_Desc:
          type: "string"
          description: "項目的詳細描述，提供更多文本資訊。 (Virtual DataPort type: text)"
        CO_MATNR_CAT:
          type: "string"
          description: "零組件的材料分類 (Virtual DataPort type: text)"
        ZZMCATG_M:
          type: "string"
          description: "零件資訊的分類層級 3，用於零件分類的分組。 (Virtual DataPort type: text)"
        ZZMCATG_S:
          type: "string"
          description: "零件資訊的分類層級 4，細化零件的分類。 (Virtual DataPort type: text)"
        CATEGERY1:
          type: "string"
          description: "零件的主要分類代碼，標識第一層分類。 (Virtual DataPort type: text)"
        CATEGERY2:
          type: "string"
          description: "零件的次級分類代碼，標識第二層分類。 (Virtual DataPort type: text)"
        CATEGERY0:
          type: "string"
          description: "產品的第一層功能或用途分類。 (Virtual DataPort type: text)"
        CATEGERY0_2:
          type: "string"
          description: "產品的附加分類，用於補充主要功能分類。 (Virtual DataPort type: text)"
        CATEGERY_GP:
          type: "string"
          description: "零件的群組分類代碼，用於標識分類群組。 (Virtual DataPort type: text)"
        CATEGORP_SC:
          type: "string"
          description: "零件的子類別代碼，用於指定子類型。 (Virtual DataPort type: text)"
        STRA_LV1:
          type: "string"
          description: "代表策略層級1，用於高階分類或管理用途。 (Virtual DataPort type: text)"
        STRA_LV2:
          type: "string"
          description: "代表策略層級2，用於細分分類或進一步管理。 (Virtual DataPort type: text)"
        CATE_M_NAME:
          type: "string"
          description: "零件分類名稱，提供主要分類的名稱描述。 (Virtual DataPort type: text)"
        CATE_S_NAME:
          type: "string"
          description: "產品的次分類名稱，用於標示更精細的類別層級。 (Virtual DataPort type: text)"
        PART_CATE:
          type: "string"
          description: "物料類別，用於區分物料的分類或組別。 (Virtual DataPort type: text)"
        INACTIVE:
          type: "string"
          description: "狀態標記，用於表示項目是否被停用。 (Virtual DataPort type: text)"
        Pur_Mfg:
          type: "string"
          description: "表示物料的採購或製造狀態。 (Virtual DataPort type: text)"
        REV_Rel_Date:
          type: "string"
          description: "記錄物料版本的發布日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        Effective_Date:
          type: "string"
          description: "生效日期，表示資訊或記錄的正式生效時間。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        Request_for_Plant:
          type: "string"
          description: "記錄針對特定工廠的需求或請求相關資訊。 (Virtual DataPort type: text)"
        Create_Date:
          type: "string"
          description: "記錄資料創建的日期和時間。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        Create_User:
          type: "string"
          description: "記錄資料創建者的使用者名稱。 (Virtual DataPort type: text)"
        PhaseOut_Date:
          type: "string"
          description: "產品淘汰日期，指產品停止供應的時間。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        LTB_Date:
          type: "string"
          description: "元件的最後採購日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        Inactive_Date:
          type: "string"
          description: "顯示項目被停用的日期時間。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        UOM:
          type: "string"
          description: "指定物料的單位，例如公斤、件等。 (Virtual DataPort type: text)"
        Product_Owner:
          type: "string"
          description: "產品負責人，表明負責該產品的管理者或PM。 (Virtual DataPort type: text)"
        Part_Cat:
          type: "string"
          description: "零件分類，記錄零件的類別或類型。 (Virtual DataPort type: text)"
        PVT_Date:
          type: "string"
          description: "產品核准測試（PVT）日期，標示產品的測試完成時間。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        MP_Date:
          type: "string"
          description: "產品量產或狀態變更的指定日期。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        Product_HTS_Category:
          type: "string"
          description: "產品海關稅則編碼類別，用於表示產品的HTS分類。 (Virtual DataPort type: text)"
        GROSS_WEIGHT:
          type: "string"
          description: "毛重（公斤），表示產品的總重量（包含包裝）。 (Virtual DataPort type: text)"
        NET_WEIGHT:
          type: "string"
          description: "產品包裝後的淨重（以公斤為單位）。 (Virtual DataPort type: text)"
        OEM_ODM_Type:
          type: "string"
          description: "指明產品是 OEM 或 ODM 類型。 (Virtual DataPort type: text)"
        Outsourcing_Type:
          type: "string"
          description: "外包類型，用於標示物料的外包屬性或類型。 (Virtual DataPort type: text)"
        BOX_DIMENSION:
          type: "string"
          description: "包裝尺寸，記錄單件產品的尺寸（例如：長寬高）。 (Virtual DataPort type: text)"
        Material_Pricing_Grp:
          type: "string"
          description: "用於分類物料計價的組別名稱。 (Virtual DataPort type: text)"
        Brand:
          type: "string"
          description: "產品所屬的品牌名稱。 (Virtual DataPort type: text)"
        Customer_Brand_Name:
          type: "string"
          description: "產品上顯示的客戶品牌名稱。 (Virtual DataPort type: text)"
        MATERIAL_CATEGORY:
          type: "string"
          description: "物料的分類類型。 (Virtual DataPort type: text)"
        field_0:
          type: "string"
          description: "暫用欄位，可能用於存放附加或測試性資料。 (Virtual DataPort type: text)"
        field_1:
          type: "string"
          description: "與CE相關的分類1標識或建議項目。 (Virtual DataPort type: text)"
        field_2:
          type: "string"
          description: "與CE相關的分類2信息或指派類別。 (Virtual DataPort type: text)"
        field_3:
          type: "string"
          description: "與CE相關的分類3標識或描述。 (Virtual DataPort type: text)"
        BSMI_NOTE:
          type: "string"
          description: "BSMI附註，記錄有關BSMI認證的相關備註資訊。 (Virtual DataPort type: text)"
        BSMI_Certification:
          type: "string"
          description: "BSMI認證狀態，確認產品是否取得BSMI認證。 (Virtual DataPort type: text)"
        BSMI_Certification_No:
          type: "string"
          description: "BSMI證書號碼，記錄產品的BSMI認證編號。 (Virtual DataPort type: text)"
        BSMI_STATUS_CODE:
          type: "string"
          description: "BSMI 認證狀態碼，用於表示產品的認證狀態。 (Virtual DataPort type: text)"
        BSMI_certification_Date_Expired:
          type: "string"
          description: "BSMI 認證到期日期，用於顯示證書的有效期限。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        KCC_Certification:
          type: "string"
          description: "表示零件或產品是否獲得韓國KCC認證。 (Virtual DataPort type: text)"
        KCC_Certification_No:
          type: "string"
          description: "韓國KCC認證的證書編號，唯一標識該認證文件。 (Virtual DataPort type: text)"
        KC_Equipment_Name:
          type: "string"
          description: "取得KC認證的設備名稱，用於標記認證範圍。 (Virtual DataPort type: text)"
        IATA_LAW:
          type: "string"
          description: "國際航空運輸協會（IATA）相關合規法規信息。 (Virtual DataPort type: text)"
        Key_Component:
          type: "string"
          description: "品質測試用的關鍵零件信息，用於 QA 實驗室。 (Virtual DataPort type: text)"
        First_Warranty_Months:
          type: "string"
          description: "初始保固月數，表示產品的首段保固期長度（月）。 (Virtual DataPort type: text)"
        Process_Type:
          type: "string"
          description: "加工類型，標識零件的處理或製造方式。 (Virtual DataPort type: text)"
        QC_Control:
          type: "string"
          description: "標識是否需要進行質量控制的狀態。 (Virtual DataPort type: text)"
        Product_Line:
          type: "string"
          description: "產品線，表示產品所屬的業務分組或系列。 (Virtual DataPort type: text)"
        REV_Number:
          type: "string"
          description: "記錄物料目前的版本編號。 (Virtual DataPort type: text)"
        EAIPG:
          type: "string"
          description: "電子應用組別或相關分類的參數描述。 (Virtual DataPort type: text)"
        EAIPD:
          type: "string"
          description: "電子應用或內部標識的參數描述。 (Virtual DataPort type: text)"
        CO_NET_WEIGHT_mg:
          type: "number"
          description: "零組件的淨重量（毫克） (Virtual DataPort type: decimal)"
        CO_PROCESS_TYPE:
          type: "string"
          description: "組件的處理類型，表示組件在製造或加工過程中的特定類型。 (Virtual DataPort type: text)"
        CO_MSL_CTRL:
          type: "string"
          description: "零組件的濕度敏感等級控制 (Virtual DataPort type: text)"
        CO_DATASHEET_VER:
          type: "string"
          description: "元件資料表的版本號，用於標示資料表的版本資訊。 (Virtual DataPort type: text)"
        CO_DATASHEET_UL_DATUM:
          type: "string"
          description: "元件資料表最後更新日期，用於追蹤資料表的變更時間。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        CO_ESTIMATED_EOL_DATUM:
          type: "string"
          description: "元件的預估壽命終止日期，用於規劃產品的使用週期。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        CO_APPROVE_DATUM:
          type: "string"
          description: "元件最後批准日期，用於記錄元件審核的完成時間。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        CO_PACKAGING_POLARITY:
          type: "string"
          description: "組件包裝極性，表示包裝的方向或極性屬性。 (Virtual DataPort type: text)"
        CO_SAFETY_RELATED_COMPONENT_TY:
          type: "string"
          description: "組件的安全相關類型，表示是否涉及安全規範要求。 (Virtual DataPort type: text)"
        OTH_ORIGINAL_MATNR:
          type: "string"
          description: "其他原始物料編號，用於標註物料的原始識別碼。 (Virtual DataPort type: text)"
        OTH_Y2Y5T_MAPPING_PART:
          type: "string"
          description: "Y2/Y5T對應物料，用於標示僅適用於Y2或Y5T分類的物料。 (Virtual DataPort type: text)"
        OTH_REPLACED_BY:
          type: "string"
          description: "替代物料編號，用於標示被其他物料取代的編號。 (Virtual DataPort type: text)"
        OTH_INACTIVE_HIDE:
          type: "string"
          description: "非活躍物品的隱藏標記，控制物品的展示狀態 (Virtual DataPort type: text)"
        OTH_COMMENT:
          type: "string"
          description: "欄位備註或額外說明，用於補充描述 (Virtual DataPort type: text)"
        MATNR_Grade:
          type: "string"
          description: "物料的等級分類。 (Virtual DataPort type: text)"
        REV_CHANGE:
          type: "string"
          description: "記錄物料版本更改代碼或號碼。 (Virtual DataPort type: text)"
        Product_Owner_email:
          type: "string"
          description: "產品負責人的電子郵件，用於聯絡相關負責人。 (Virtual DataPort type: text)"
        URL_Attachments:
          type: "string"
          description: "附件的 URL，指向外部相關文件或資源。 (Virtual DataPort type: text)"
        PRODUCT_ATTRIBUTES:
          type: "string"
          description: "產品屬性資訊，描述產品的相關特徵。 (Virtual DataPort type: text)"
        CO_MAINSTREAM:
          type: "string"
          description: "是否為主流零組件 (Virtual DataPort type: text)"
        GROUP_PG:
          type: "string"
          description: "分組代號，表示產品的分組類別或群組代號。 (Virtual DataPort type: text)"
        OTH_GTINC13:
          type: "string"
          description: "商品的GTIN-13碼，用於唯一商品編號識別 (Virtual DataPort type: text)"
        OTH_GPC:
          type: "string"
          description: "全球商品分類，用於物品的標準化分類 (Virtual DataPort type: text)"
        OTH_BASIC_UDI:
          type: "string"
          description: "基本UDI碼，用於醫療類物品的唯一識別 (Virtual DataPort type: text)"
        SAP_MATERIAL_TYPE:
          type: "string"
          description: "指定物料在 SAP 系統中的類型，用於分類和管理物料。 (Virtual DataPort type: text)"
        LST_SHP_DATUM:
          type: "string"
          description: "元件的最後出貨日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        CO_RoHS:
          type: "string"
          description: "組件是否符合 RoHS（減少有害物質）規範。 (Virtual DataPort type: text)"
        CO_LOW_HALOGEN:
          type: "string"
          description: "是否符合低鹵素規範之零組件 (Virtual DataPort type: text)"
        APPROVE_DATUM:
          type: "string"
          description: "核准日期，表示此數據的核准時間記錄。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        CO_SURVEY_STATUS:
          type: "string"
          description: "組件的檢測或調查狀態，用於追蹤調查進度。 (Virtual DataPort type: text)"
        ID:
          type: "integer"
          description: "唯一識別此資料表中每筆記錄的主鍵。 (Virtual DataPort type: long)"
          format: "int64"
        expirationDate:
          type: "integer"
          description: "紀錄零件或相關資源的到期時間戳記。 (Virtual DataPort type: long)"
          format: "int64"
        rowStatus:
          type: "string"
          description: "資料列的狀態指示，例如啟用或停用。 (Virtual DataPort type: text)"
        links:
          type: "array"
          items:
            $ref: "#/components/schemas/links_def"
      description: "Extended schema of view iv_allparts_info_for_ce"
      xml:
        name: "iv_allparts_info_for_ce"
        namespace: "http://www.denodo.com/restful/dx_ce/views/iv_allparts_info_for_ce"
    iv_allparts_info_for_ce_element_post_def:
      properties:
        PrjCode:
          type: "string"
          description: "專案代碼，記錄相關的專案標識碼。 (Virtual DataPort type: text)"
        ESTIMATE_GREEN_STATUS:
          type: "string"
          description: "估算綠色狀態，表示產品的環保合規狀況。 (Virtual DataPort type: text)"
        Model_Name:
          type: "string"
          description: "產品或部件的型號名稱。 (Virtual DataPort type: text)"
        LifeCycle_Phase:
          type: "string"
          description: "元件當前生命週期階段。 (Virtual DataPort type: text)"
        Item_Number:
          type: "string"
          description: "物料或零件的唯一識別碼，用於在系統中追踪和管理零件。 (Virtual DataPort type: text)"
        Item_Desc:
          type: "string"
          description: "項目的詳細描述，提供更多文本資訊。 (Virtual DataPort type: text)"
        CO_MATNR_CAT:
          type: "string"
          description: "零組件的材料分類 (Virtual DataPort type: text)"
        ZZMCATG_M:
          type: "string"
          description: "零件資訊的分類層級 3，用於零件分類的分組。 (Virtual DataPort type: text)"
        ZZMCATG_S:
          type: "string"
          description: "零件資訊的分類層級 4，細化零件的分類。 (Virtual DataPort type: text)"
        CATEGERY1:
          type: "string"
          description: "零件的主要分類代碼，標識第一層分類。 (Virtual DataPort type: text)"
        CATEGERY2:
          type: "string"
          description: "零件的次級分類代碼，標識第二層分類。 (Virtual DataPort type: text)"
        CATEGERY0:
          type: "string"
          description: "產品的第一層功能或用途分類。 (Virtual DataPort type: text)"
        CATEGERY0_2:
          type: "string"
          description: "產品的附加分類，用於補充主要功能分類。 (Virtual DataPort type: text)"
        CATEGERY_GP:
          type: "string"
          description: "零件的群組分類代碼，用於標識分類群組。 (Virtual DataPort type: text)"
        CATEGORP_SC:
          type: "string"
          description: "零件的子類別代碼，用於指定子類型。 (Virtual DataPort type: text)"
        STRA_LV1:
          type: "string"
          description: "代表策略層級1，用於高階分類或管理用途。 (Virtual DataPort type: text)"
        STRA_LV2:
          type: "string"
          description: "代表策略層級2，用於細分分類或進一步管理。 (Virtual DataPort type: text)"
        CATE_M_NAME:
          type: "string"
          description: "零件分類名稱，提供主要分類的名稱描述。 (Virtual DataPort type: text)"
        CATE_S_NAME:
          type: "string"
          description: "產品的次分類名稱，用於標示更精細的類別層級。 (Virtual DataPort type: text)"
        PART_CATE:
          type: "string"
          description: "物料類別，用於區分物料的分類或組別。 (Virtual DataPort type: text)"
        INACTIVE:
          type: "string"
          description: "狀態標記，用於表示項目是否被停用。 (Virtual DataPort type: text)"
        Pur_Mfg:
          type: "string"
          description: "表示物料的採購或製造狀態。 (Virtual DataPort type: text)"
        REV_Rel_Date:
          type: "string"
          description: "記錄物料版本的發布日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        Effective_Date:
          type: "string"
          description: "生效日期，表示資訊或記錄的正式生效時間。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        Request_for_Plant:
          type: "string"
          description: "記錄針對特定工廠的需求或請求相關資訊。 (Virtual DataPort type: text)"
        Create_Date:
          type: "string"
          description: "記錄資料創建的日期和時間。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        Create_User:
          type: "string"
          description: "記錄資料創建者的使用者名稱。 (Virtual DataPort type: text)"
        PhaseOut_Date:
          type: "string"
          description: "產品淘汰日期，指產品停止供應的時間。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        LTB_Date:
          type: "string"
          description: "元件的最後採購日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        Inactive_Date:
          type: "string"
          description: "顯示項目被停用的日期時間。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        UOM:
          type: "string"
          description: "指定物料的單位，例如公斤、件等。 (Virtual DataPort type: text)"
        Product_Owner:
          type: "string"
          description: "產品負責人，表明負責該產品的管理者或PM。 (Virtual DataPort type: text)"
        Part_Cat:
          type: "string"
          description: "零件分類，記錄零件的類別或類型。 (Virtual DataPort type: text)"
        PVT_Date:
          type: "string"
          description: "產品核准測試（PVT）日期，標示產品的測試完成時間。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        MP_Date:
          type: "string"
          description: "產品量產或狀態變更的指定日期。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        Product_HTS_Category:
          type: "string"
          description: "產品海關稅則編碼類別，用於表示產品的HTS分類。 (Virtual DataPort type: text)"
        GROSS_WEIGHT:
          type: "string"
          description: "毛重（公斤），表示產品的總重量（包含包裝）。 (Virtual DataPort type: text)"
        NET_WEIGHT:
          type: "string"
          description: "產品包裝後的淨重（以公斤為單位）。 (Virtual DataPort type: text)"
        OEM_ODM_Type:
          type: "string"
          description: "指明產品是 OEM 或 ODM 類型。 (Virtual DataPort type: text)"
        Outsourcing_Type:
          type: "string"
          description: "外包類型，用於標示物料的外包屬性或類型。 (Virtual DataPort type: text)"
        BOX_DIMENSION:
          type: "string"
          description: "包裝尺寸，記錄單件產品的尺寸（例如：長寬高）。 (Virtual DataPort type: text)"
        Material_Pricing_Grp:
          type: "string"
          description: "用於分類物料計價的組別名稱。 (Virtual DataPort type: text)"
        Brand:
          type: "string"
          description: "產品所屬的品牌名稱。 (Virtual DataPort type: text)"
        Customer_Brand_Name:
          type: "string"
          description: "產品上顯示的客戶品牌名稱。 (Virtual DataPort type: text)"
        MATERIAL_CATEGORY:
          type: "string"
          description: "物料的分類類型。 (Virtual DataPort type: text)"
        field_0:
          type: "string"
          description: "暫用欄位，可能用於存放附加或測試性資料。 (Virtual DataPort type: text)"
        field_1:
          type: "string"
          description: "與CE相關的分類1標識或建議項目。 (Virtual DataPort type: text)"
        field_2:
          type: "string"
          description: "與CE相關的分類2信息或指派類別。 (Virtual DataPort type: text)"
        field_3:
          type: "string"
          description: "與CE相關的分類3標識或描述。 (Virtual DataPort type: text)"
        BSMI_NOTE:
          type: "string"
          description: "BSMI附註，記錄有關BSMI認證的相關備註資訊。 (Virtual DataPort type: text)"
        BSMI_Certification:
          type: "string"
          description: "BSMI認證狀態，確認產品是否取得BSMI認證。 (Virtual DataPort type: text)"
        BSMI_Certification_No:
          type: "string"
          description: "BSMI證書號碼，記錄產品的BSMI認證編號。 (Virtual DataPort type: text)"
        BSMI_STATUS_CODE:
          type: "string"
          description: "BSMI 認證狀態碼，用於表示產品的認證狀態。 (Virtual DataPort type: text)"
        BSMI_certification_Date_Expired:
          type: "string"
          description: "BSMI 認證到期日期，用於顯示證書的有效期限。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        KCC_Certification:
          type: "string"
          description: "表示零件或產品是否獲得韓國KCC認證。 (Virtual DataPort type: text)"
        KCC_Certification_No:
          type: "string"
          description: "韓國KCC認證的證書編號，唯一標識該認證文件。 (Virtual DataPort type: text)"
        KC_Equipment_Name:
          type: "string"
          description: "取得KC認證的設備名稱，用於標記認證範圍。 (Virtual DataPort type: text)"
        IATA_LAW:
          type: "string"
          description: "國際航空運輸協會（IATA）相關合規法規信息。 (Virtual DataPort type: text)"
        Key_Component:
          type: "string"
          description: "品質測試用的關鍵零件信息，用於 QA 實驗室。 (Virtual DataPort type: text)"
        First_Warranty_Months:
          type: "string"
          description: "初始保固月數，表示產品的首段保固期長度（月）。 (Virtual DataPort type: text)"
        Process_Type:
          type: "string"
          description: "加工類型，標識零件的處理或製造方式。 (Virtual DataPort type: text)"
        QC_Control:
          type: "string"
          description: "標識是否需要進行質量控制的狀態。 (Virtual DataPort type: text)"
        Product_Line:
          type: "string"
          description: "產品線，表示產品所屬的業務分組或系列。 (Virtual DataPort type: text)"
        REV_Number:
          type: "string"
          description: "記錄物料目前的版本編號。 (Virtual DataPort type: text)"
        EAIPG:
          type: "string"
          description: "電子應用組別或相關分類的參數描述。 (Virtual DataPort type: text)"
        EAIPD:
          type: "string"
          description: "電子應用或內部標識的參數描述。 (Virtual DataPort type: text)"
        CO_NET_WEIGHT_mg:
          type: "number"
          description: "零組件的淨重量（毫克） (Virtual DataPort type: decimal)"
        CO_PROCESS_TYPE:
          type: "string"
          description: "組件的處理類型，表示組件在製造或加工過程中的特定類型。 (Virtual DataPort type: text)"
        CO_MSL_CTRL:
          type: "string"
          description: "零組件的濕度敏感等級控制 (Virtual DataPort type: text)"
        CO_DATASHEET_VER:
          type: "string"
          description: "元件資料表的版本號，用於標示資料表的版本資訊。 (Virtual DataPort type: text)"
        CO_DATASHEET_UL_DATUM:
          type: "string"
          description: "元件資料表最後更新日期，用於追蹤資料表的變更時間。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        CO_ESTIMATED_EOL_DATUM:
          type: "string"
          description: "元件的預估壽命終止日期，用於規劃產品的使用週期。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        CO_APPROVE_DATUM:
          type: "string"
          description: "元件最後批准日期，用於記錄元件審核的完成時間。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        CO_PACKAGING_POLARITY:
          type: "string"
          description: "組件包裝極性，表示包裝的方向或極性屬性。 (Virtual DataPort type: text)"
        CO_SAFETY_RELATED_COMPONENT_TY:
          type: "string"
          description: "組件的安全相關類型，表示是否涉及安全規範要求。 (Virtual DataPort type: text)"
        OTH_ORIGINAL_MATNR:
          type: "string"
          description: "其他原始物料編號，用於標註物料的原始識別碼。 (Virtual DataPort type: text)"
        OTH_Y2Y5T_MAPPING_PART:
          type: "string"
          description: "Y2/Y5T對應物料，用於標示僅適用於Y2或Y5T分類的物料。 (Virtual DataPort type: text)"
        OTH_REPLACED_BY:
          type: "string"
          description: "替代物料編號，用於標示被其他物料取代的編號。 (Virtual DataPort type: text)"
        OTH_INACTIVE_HIDE:
          type: "string"
          description: "非活躍物品的隱藏標記，控制物品的展示狀態 (Virtual DataPort type: text)"
        OTH_COMMENT:
          type: "string"
          description: "欄位備註或額外說明，用於補充描述 (Virtual DataPort type: text)"
        MATNR_Grade:
          type: "string"
          description: "物料的等級分類。 (Virtual DataPort type: text)"
        REV_CHANGE:
          type: "string"
          description: "記錄物料版本更改代碼或號碼。 (Virtual DataPort type: text)"
        Product_Owner_email:
          type: "string"
          description: "產品負責人的電子郵件，用於聯絡相關負責人。 (Virtual DataPort type: text)"
        URL_Attachments:
          type: "string"
          description: "附件的 URL，指向外部相關文件或資源。 (Virtual DataPort type: text)"
        PRODUCT_ATTRIBUTES:
          type: "string"
          description: "產品屬性資訊，描述產品的相關特徵。 (Virtual DataPort type: text)"
        CO_MAINSTREAM:
          type: "string"
          description: "是否為主流零組件 (Virtual DataPort type: text)"
        GROUP_PG:
          type: "string"
          description: "分組代號，表示產品的分組類別或群組代號。 (Virtual DataPort type: text)"
        OTH_GTINC13:
          type: "string"
          description: "商品的GTIN-13碼，用於唯一商品編號識別 (Virtual DataPort type: text)"
        OTH_GPC:
          type: "string"
          description: "全球商品分類，用於物品的標準化分類 (Virtual DataPort type: text)"
        OTH_BASIC_UDI:
          type: "string"
          description: "基本UDI碼，用於醫療類物品的唯一識別 (Virtual DataPort type: text)"
        SAP_MATERIAL_TYPE:
          type: "string"
          description: "指定物料在 SAP 系統中的類型，用於分類和管理物料。 (Virtual DataPort type: text)"
        LST_SHP_DATUM:
          type: "string"
          description: "元件的最後出貨日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        CO_RoHS:
          type: "string"
          description: "組件是否符合 RoHS（減少有害物質）規範。 (Virtual DataPort type: text)"
        CO_LOW_HALOGEN:
          type: "string"
          description: "是否符合低鹵素規範之零組件 (Virtual DataPort type: text)"
        APPROVE_DATUM:
          type: "string"
          description: "核准日期，表示此數據的核准時間記錄。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        CO_SURVEY_STATUS:
          type: "string"
          description: "組件的檢測或調查狀態，用於追蹤調查進度。 (Virtual DataPort type: text)"
        ID:
          type: "integer"
          description: "唯一識別此資料表中每筆記錄的主鍵。 (Virtual DataPort type: long)"
          format: "int64"
        expirationDate:
          type: "integer"
          description: "紀錄零件或相關資源的到期時間戳記。 (Virtual DataPort type: long)"
          format: "int64"
        rowStatus:
          type: "string"
          description: "資料列的狀態指示，例如啟用或停用。 (Virtual DataPort type: text)"
      description: "Schema of view iv_allparts_info_for_ce as required by POST requests"
      xml:
        name: "iv_allparts_info_for_ce"
        namespace: "http://www.denodo.com/restful/dx_ce/views/iv_allparts_info_for_ce"
    iv_allparts_info_for_ce_element_put_def:
      properties:
        PrjCode:
          type: "string"
          description: "專案代碼，記錄相關的專案標識碼。 (Virtual DataPort type: text)"
        ESTIMATE_GREEN_STATUS:
          type: "string"
          description: "估算綠色狀態，表示產品的環保合規狀況。 (Virtual DataPort type: text)"
        Model_Name:
          type: "string"
          description: "產品或部件的型號名稱。 (Virtual DataPort type: text)"
        LifeCycle_Phase:
          type: "string"
          description: "元件當前生命週期階段。 (Virtual DataPort type: text)"
        Item_Number:
          type: "string"
          description: "物料或零件的唯一識別碼，用於在系統中追踪和管理零件。 (Virtual DataPort type: text)"
        Item_Desc:
          type: "string"
          description: "項目的詳細描述，提供更多文本資訊。 (Virtual DataPort type: text)"
        CO_MATNR_CAT:
          type: "string"
          description: "零組件的材料分類 (Virtual DataPort type: text)"
        ZZMCATG_M:
          type: "string"
          description: "零件資訊的分類層級 3，用於零件分類的分組。 (Virtual DataPort type: text)"
        ZZMCATG_S:
          type: "string"
          description: "零件資訊的分類層級 4，細化零件的分類。 (Virtual DataPort type: text)"
        CATEGERY1:
          type: "string"
          description: "零件的主要分類代碼，標識第一層分類。 (Virtual DataPort type: text)"
        CATEGERY2:
          type: "string"
          description: "零件的次級分類代碼，標識第二層分類。 (Virtual DataPort type: text)"
        CATEGERY0:
          type: "string"
          description: "產品的第一層功能或用途分類。 (Virtual DataPort type: text)"
        CATEGERY0_2:
          type: "string"
          description: "產品的附加分類，用於補充主要功能分類。 (Virtual DataPort type: text)"
        CATEGERY_GP:
          type: "string"
          description: "零件的群組分類代碼，用於標識分類群組。 (Virtual DataPort type: text)"
        CATEGORP_SC:
          type: "string"
          description: "零件的子類別代碼，用於指定子類型。 (Virtual DataPort type: text)"
        STRA_LV1:
          type: "string"
          description: "代表策略層級1，用於高階分類或管理用途。 (Virtual DataPort type: text)"
        STRA_LV2:
          type: "string"
          description: "代表策略層級2，用於細分分類或進一步管理。 (Virtual DataPort type: text)"
        CATE_M_NAME:
          type: "string"
          description: "零件分類名稱，提供主要分類的名稱描述。 (Virtual DataPort type: text)"
        CATE_S_NAME:
          type: "string"
          description: "產品的次分類名稱，用於標示更精細的類別層級。 (Virtual DataPort type: text)"
        PART_CATE:
          type: "string"
          description: "物料類別，用於區分物料的分類或組別。 (Virtual DataPort type: text)"
        INACTIVE:
          type: "string"
          description: "狀態標記，用於表示項目是否被停用。 (Virtual DataPort type: text)"
        Pur_Mfg:
          type: "string"
          description: "表示物料的採購或製造狀態。 (Virtual DataPort type: text)"
        REV_Rel_Date:
          type: "string"
          description: "記錄物料版本的發布日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        Effective_Date:
          type: "string"
          description: "生效日期，表示資訊或記錄的正式生效時間。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        Request_for_Plant:
          type: "string"
          description: "記錄針對特定工廠的需求或請求相關資訊。 (Virtual DataPort type: text)"
        Create_Date:
          type: "string"
          description: "記錄資料創建的日期和時間。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        Create_User:
          type: "string"
          description: "記錄資料創建者的使用者名稱。 (Virtual DataPort type: text)"
        PhaseOut_Date:
          type: "string"
          description: "產品淘汰日期，指產品停止供應的時間。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        LTB_Date:
          type: "string"
          description: "元件的最後採購日期。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        Inactive_Date:
          type: "string"
          description: "顯示項目被停用的日期時間。 (Virtual DataPort type: timestamp, format: yyyy-MM-ddTHH:mm:ss.SSS)"
        UOM:
          type: "string"
          description: "指定物料的單位，例如公斤、件等。 (Virtual DataPort type: text)"
        Product_Owner:
          type: "string"
          description: "產品負責人，表明負責該產品的管理者或PM。 (Virtual DataPort type: text)"
        Part_Cat:
          type: "string"
          description: "零件分類，記錄零件的類別或類型。 (Virtual DataPort type: text)"
        PVT_Date:
          type: "string"
          description: "產品核准測試（PVT）日期，標示產品的測試完成時間。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        MP_Date:
          type: "string"
          description: "產品量產或狀態變更的指定日期。 (Virtual DataPort type: timestamp, format:\
            \ yyyy-MM-ddTHH:mm:ss.SSS)"
        Product_HTS_Category:
          type: "string"
          description: "產品海關稅則編碼類別，用於表示產品的HTS分類。 (Virtual DataPort type: text)"
        GROSS_WEIGHT:
          type: "string"
          description: "毛重（公斤），表示產品的總重量（包含包裝）。 (Virtual DataPort type: text)"
        NET_WEIGHT:
          type: "string"
          description: "產品包裝後的淨重（以公斤為單位）。 (Virtual DataPort type: text)"
        OEM_ODM_Type:
          type: "string"
          description: "指明產品是 OEM 或 ODM 類型。 (Virtual DataPort type: text)"
        Outsourcing_Type:
          type: "string"
          description: "外包類型，用於標示物料的外包屬性或類型。 (Virtual DataPort type: text)"
        BOX_DIMENSION:
          type: "string"
          description: "包裝尺寸，記錄單件產品的尺寸（例如：長寬高）。 (Virtual DataPort type: text)"
        Material_Pricing_Grp:
          type: "string"
          description: "用於分類物料計價的組別名稱。 (Virtual DataPort type: text)"
        Brand:
          type: "string"
          description: "產品所屬的品牌名稱。 (Virtual DataPort type: text)"
        Customer_Brand_Name:
          type: "string"
          description: "產品上顯示的客戶品牌名稱。 (Virtual DataPort type: text)"
        MATERIAL_CATEGORY:
          type: "string"
          description: "物料的分類類型。 (Virtual DataPort type: text)"
        field_0:
          type: "string"
          description: "暫用欄位，可能用於存放附加或測試性資料。 (Virtual DataPort type: text)"
        field_1:
          type: "string"
          description: "與CE相關的分類1標識或建議項目。 (Virtual DataPort type: text)"
        field_2:
          type: "string"
          description: "與CE相關的分類2信息或指派類別。 (Virtual DataPort type: text)"
        field_3:
          type: "string"
          description: "與CE相關的分類3標識或描述。 (Virtual DataPort type: text)"
        BSMI_NOTE:
          type: "string"
          description: "BSMI附註，記錄有關BSMI認證的相關備註資訊。 (Virtual DataPort type: text)"
        BSMI_Certification:
          type: "string"
          description: "BSMI認證狀態，確認產品是否取得BSMI認證。 (Virtual DataPort type: text)"
        BSMI_Certification_No:
          type: "string"
          description: "BSMI證書號碼，記錄產品的BSMI認證編號。 (Virtual DataPort type: text)"
        BSMI_STATUS_CODE:
          type: "string"
          description: "BSMI 認證狀態碼，用於表示產品的認證狀態。 (Virtual DataPort type: text)"
        BSMI_certification_Date_Expired:
          type: "string"
          description: "BSMI 認證到期日期，用於顯示證書的有效期限。 (Virtual DataPort type: timestamp,\
            \ format: yyyy-MM-ddTHH:mm:ss.SSS)"
        KCC_Certification:
          type: "string"
          description: "表示零件或產品是否獲得韓國KCC認證。 (Virtual DataPort type: text)"
        KCC_Certification_No:
          type: "string"
          description: "韓國KCC認證的證書編號，唯一標識該認證文件。 (Virtual DataPort type: text)"
        KC_Equipment_Name:
          type: "string"
          description: "取得KC認證的設備名稱，用於標記認證範圍。 (Virtual DataPort type: text)"
        IATA_LAW:
          type: "string"
          description: "國際航空運輸協會（IATA）相關合規法規信息。 (Virtual DataPort type: text)"
        Key_Component:
          type: "string"
          description: "品質測試用的關鍵零件信息，用於 QA 實驗室。 (Virtual DataPort type: text)"
        First_Warranty_Months:
          type: "string"
          description: "初始保固月數，表示產品的首段保固期長度（月）。 (Virtual DataPort type: text)"
        Process_Type:
          type: "string"
          description: "加工類型，標識零件的處理或製造方式。 (Virtual DataPort type: text)"
        QC_Control:
          type: "string"
          description: "標識是否需要進行質量控制的狀態。 (Virtual DataPort type: text)"
        Product_Line:
          type: "string"
          description: "產品線，表示產品所屬的業務分組或系列。 (Virtual DataPort type: text)"
        REV_Number:
          type: "string"
          description: "記錄物料目前的版本編號。 (Virtual DataPort type: text)"
        EAIPG:
          type: "string"
          description: "電子應用組別或相關分類的參數描述。 (Virtual DataPort type: text)"
        EAIPD:
          type: "string"
          description: "電子應用或內部標識的參數描述。 (Virtual DataPort type: text)"
        CO_NET_WEIGHT_mg:
          type: "number"
          description: "零組件的淨重量（毫克） (Virtual DataPort type: decimal)"
        CO_PROCESS_TYPE:
          type: "string"
          description: "組件的處理類型，表示組件在製造或加工過程中的特定類型。 (Virtual DataPort type: text)"
[...]
